body{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/** SCHERM MACBOOK 13INCH - GOOGLE CHROME */
@media only screen and (min-width: 1424px) {
    body{
        overflow-x: hidden;
        width: 100%;
        height: auto;
    }

    /** HEADER */
    #header-Div{
        background-color: rgb(245 113 20);
        width: 100%;
        height: 200px;
    }
    #header-Div h3, p{
        text-align: center;
        color: rgb(253 252 252);
        padding-top: 50px;
    }
    #header-Div h3{
        font-size: 30px;
        font-weight: bold;
    }
    #header-Div p{
        padding-top: 20px;
        font-size: 19px;
    }

    #header-Nav{
        background-color: rgb(189 86 14);
        width: 100%;
        height: 50px;
    }
    #header-Nav ul{
        list-style: none;
        word-spacing: 15px;
    }
    #header-Nav ul li{
        display: inline-block;
        padding-top: 13px;
        padding-left: 25px;
        color: rgb(255 254 254);
        word-spacing: -1px;
        font-size: 20px;
    }
    #header-Nav a{
        cursor: pointer;
    }
    #header-Nav a:hover{
        color: rgb(243 112 22);
    }

    #color-Div{
        width: 100%;
        height: 5px;
        background-color: rgb(254 215 9);
    }

                      /*-- HEADER IS KLAAR/*

    /** ASIDE */
    aside{
        background-color: rgb(255 183 133);
        width: 30%;
        height: 1300px;
    }
    #aside h3{
        text-align: left;
        padding-left: 30px;
        padding-top: 30px;
        font-weight: bold;
        font-size: 20px;
    }
    #aside p{
        text-align: left;
        color: black;
        font-size: 18px;
        left: 30px;
        top: 280px;
        position: absolute;
    }
    #aside img{
        width: 85%;
        padding-top: 70px;
        padding-left: 40px;
    }  
    #aside-Pa2{
        font-size: 18px;
        padding-top: 350px;
        padding: auto;
    }
    #aside-H3-2{
        top: 750px;
        position: absolute;
    }
    #aside-Pa3{
        font-size: 18px;
        padding-top: 540px;

    }
    
                        /*-- ASIDE IS KLAAR /*

    /** BEGIN MAIN*/
    main{
        width: 70%;
        height: 1300px;
        top: 255px;
        left: 427.5px;
        position: absolute;
    }
    #main-H3-1{
        padding-left: 40px;
        padding-top: 30px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(245 115 17);
    }
    #main p{
        color: black;
        font-size: 18px;
        padding-left: 10px;
        left: 30px;
        top: 25px;
        position: absolute;
        
    }
    #main-img-1{
        width: 37%;
        padding-top: 70px;
        padding-left: 40px;
    }
    #main-Pa2{
        font-size: 18px;
        padding-top: 350px;
        text-align: left;
        }
    #main-Pa3{
        font-size: 18px;
        padding-top: 500px;
        text-align: left;
    }
    #main-H3-2{
        padding-left: 40px;
        top: 630px;
        position: absolute;
        font-weight: bold;
        font-size: 20px;
        color: rgb(245 115 17);
    }
    #main-Pa4{
        font-size: 18px;
        padding-top: 650px;
        padding-left: 40px;
    }
    #main-img-2{
        width: 37%;
        padding-top: 400px;
        padding-left: 40px;

    }
    #main2 p{
        color: black;
        font-size: 18px;
        text-align: left;
        padding-left: 40px;
    }
    #main2-Pa2{
        font-size: 18px;
        padding-top: 70px;
        padding-left: 40px;
        text-align: left;
    }
                        /*-- MAIN IS KLAAR */
    
    /** BEGIN FOOTER */

    footer{
        width: 100%;
        height: 100px;
        background-color: rgb(189 86 14);
        top: 0;
        position: relative;
    }
    #footer-Pa1{
        color: black;
        font-size: 18px;
        padding-top: 26px;
    }
    #footer-Pa2{
        color: black;
        font-size: 18px;
        padding-top: 10px;
    }
                        /*-- FOOTER IS KLAAR */
}




                         /*! RESPONSIVE MOBILE */
/** SCHERM IPHONE 11*/
@media only screen and (max-width: 599px){
    body{
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        overflow-x: hidden;
    }
    #header-Div{
        background-color: rgb(245 113 20);
        width: 100%;
        height: 190px;
    }
    #header-Div h3, p{
        text-align: center;
        color: white;
        padding-top: 40px;
    }
    #header-Div h3{
        font-size: 30px;
        font-weight: bold;
    }
    #header-Div p{
        padding-top: 20px;
        font-size: 19px;
    }
    #header-Nav{
        background-color: rgb(189 86 14);
        width: 100%;
        height: 190px;
    }
    #header-Nav ul{
        list-style: none;
        word-spacing: 15px;
        text-align: center;
    }
    #header-Nav ul li{
        display: block;
        padding-top: 10px;
        padding-left: 0px;
        color: rgb(255 254 254);
        word-spacing: -1px;
        line-height: 35px;
        font-size: 20px;
    }
    #header-Nav a{
        cursor: pointer;
    }
    #header-Nav a:hover{
        color: rgb(243 112 22);
    }
    #color-Div{
        width: 100%;
        height: 5px;
        background-color: rgb(254 215 9);
    }
                        /*-- HEADER IS KLAAR */

        aside{
        background-color: rgb(255 183 133);
        width: 100%;
        height: 825px;
    }
    #aside h3{
        text-align: left;
        padding-left: 30px;
        padding-top: 30px;
        font-weight: bold;
        font-size: 20px;
    }
    #aside-Pa1{
        text-align: left;
        color: black;
        font-size: 18px;
        padding-left: 30px;
        padding-top: 20px;

    }
    #aside img{
        width: 85%;
        padding-top: 30px;
        padding-left: 40px;
    }  
    #aside-Pa2{
        text-align: left;
        font-size: 18px;
        padding-top: 30px;
        padding-left: 30px;
        color: black;
    }
    #aside-H3-2{
        padding-top: 200px;
        padding-left: 30px;

        text-align: left;
    }
    #aside-Pa3{
        font-size: 18px;
        text-align: left;
        padding-top: 30px;
        padding-left: 30px;
        color: black;

    }
                      /*-- ASIDE IS KLAAR */

        main{
        width: 100%;
        height: 1600px;
    }
    #main-H3-1{
        padding-left: 30px;
        padding-top: 30px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(245 115 17);
    }
    #main-Pa1{
        color: black;
        font-size: 18px;
        text-align: left;
        padding-top: 30px;
        padding-left: 30px;
    }
    #main-img-1{
        width: 50%;
        padding-top: 50px;
        padding-left: 40px;
    }
    #main-Pa2{
        color: black;
        font-size: 18px;
        padding-top: 30px;
        padding-left: 30px;
        text-align: left;
        }
    #main-Pa3{
        font-size: 18px;
        padding-top: 60px;
        padding-left: 30px;
        text-align: left;
        color: black;
    }
    #main-H3-2{
        padding-top: 60px;
        padding-left: 30px;
        font-weight: bold;
        font-size: 20px;
        color: rgb(245 115 17);
    }
    #main-Pa4{
        font-size: 18px;
        padding-top: 30px;
        padding-left: 30px;
        color: black;
        text-align: left;
        font-weight: bold;
    }
    #main-img-2{
        width: 50%;
        padding-top: 30px;
        padding-left: 40px;

    }
    #main2-Pa1{
        color: black;
        font-size: 18px;
        text-align: left;
        padding-left: 30px;
    }
    #main2-Pa2{
        font-size: 18px;
        padding-top: 60px;
        padding-left: 30px;
        text-align: left;
        color: black;
    }
    

                  /*-- MAIN IS KLAAR */
    footer{
        width: 100%;
        height: 110px;
        background-color: rgb(189 86 14);
        top: 0;
        position: relative;
    }
    #footer-Pa1{
        color: black;
        font-size: 18px;
        padding-top: 25px;
    }
    #footer-Pa2{
        color: black;
        font-size: 18px;
        padding-top: 10px;
    }

                 /*-- FOOTER IS KLAAR */  
}

