           
           /** SMARTPHONE SCHERMEN */
@media only screen and (min-width: 370px) and (max-width: 600px){
    body{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    /** HEADER */
#color-Div{
    width: 100%;
    height: 250px;
    background-color: rgb(245 115 17);
}
#color-Div h3{
    text-align: center;
    font-size: 45px;
    padding-top: 70px;
    color: rgb(245 247 252);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div p{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color: rgb(253 234 224);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div2{
    width: 100%;
    height: 180px;
    background-color: rgb(189 86 14);
}
#color-Div2 ul{
    text-align: center;
    word-spacing: 15px;
    padding-top: 3px;
    padding-left: 10px;
}
#color-Div2 ul li{
    display: block;
    padding-top: 12px;
    font-size: 25px;
    word-spacing: -2px;
    color: rgb(245 247 252);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div2 ul li a{
    cursor: pointer;
}
#color-Div2 a:hover{
    color: rgb(253 234 224);
}
#color-Div3{
    width: 100%;
    min-height: 5px;
    background-color: rgb(254 215 9);
}
/** END - HEADER*/

/** ASIDE */
#aside{
    width: 100%;
    min-height: 800px;
    background-color: rgb(255 183 133);
}
#aside h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
}
#aside img{
    width: 300px;
    height: 350px;
    position: absolute;
    left: 50px;
    padding-top: 30px;
}
#aside p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 400px;
    padding-left: 20px;
}
/** END - ASIDE */

/** MAIN */
#main{
    width: 100%;
    min-height: 1600px;
    background-color: white;
    position: absolute;
    left: 0;
    margin-top: 40px;
}
#main h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    color: rgb(191 86 16);
}
#main-docent{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}
#main-pa1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 30px;
    padding-left: 20px;  
}
#main-pa2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 20px;
    padding-left: 20px;
    word-spacing: 0px;
    
}
#img-hannah{
    width: 120px;
    height: 140px;
    margin-left: 280px;
    top: 160px;
    position: absolute;
}
#main-pa3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 20px;
}
#main-docent2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}
#img-jesse{
    width: 160px;
    height: 200px;
    margin-left: 10px;
    padding-top: 40px;
    position: absolute;
}
#main-pa4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 150px;
    padding: 20px;
    padding-top: 10px;
    position: absolute;
}
#main-ph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 25px;
    padding-top: 380px;
    position: absolute;
}
#main-pa5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top: 420px;
    margin-left: 25px;
    position: absolute;
}

/** END - MAIN */

/** FOOTER */
#footer{
    width: 100%;
    height: 100px;
    margin-top: 1700px;
    position: absolute;
    background-color: rgb(209 94 14);
}
#footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}
#footer-pa2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
}
/** END - FOOTER */

}


           /** GROTERE SCHERMEN */
@media only screen and (min-width: 1440px){
    body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/** HEADER */
#color-Div{
    width: 100%;
    height: 250px;
    background-color: rgb(245 115 17);
}
#color-Div h3{
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
    color: rgb(245 247 252);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div p{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color: rgb(253 234 224);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div2{
    width: 100%;
    height: 70px;
    background-color: rgb(189 86 14);
}
#color-Div2 ul{
    text-align: left;
    word-spacing: 15px;
    padding-top: 19px;
    padding-left: 10px;
}
#color-Div2 ul li{
    display: inline-block;
    font-size: 25px;
    word-spacing: -2px;
    color: rgb(245 247 252);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div2 ul li a{
    cursor: pointer;
}
#color-Div2 a:hover{
    color: rgb(253 234 224);
}
#color-Div3{
    width: 100%;
    height: 10px;
    background-color: rgb(254 215 9);
}
/** END - HEADER*/

/** ASIDE */
#aside{
    width: 25%;
    height: 1550px;
    background-color: rgb(255 183 133);
}
#aside h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 20px;
}
#aside img{
    width: 300px;
    height: 400px;
    position: absolute;
    left: 50px;
    padding-top: 30px;
}
#aside p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 450px;
    padding-left: 20px;
}
/** END - ASIDE */


/** MAIN */
#main{
    width: 75%;
    height: 1550px;
    background-color: white;
    position: absolute;
    left: 480px;
    top: 330px;
}
#main h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 20px;
    color: rgb(191 86 16);
}
#main-docent{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}
#main-pa1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 50px;
    padding-left: 20px;  
}
#main-pa2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 70px;
    padding-left: 20px;
    
}
#img-hannah{
    width: 350px;
    height: 500px;
    right: 400px;
    top: 220px;
    position: absolute;
}
#main-pa3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 70px;
    padding-left: 20px;
}
#main-docent2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}
#img-jesse{
    width: 370px;
    height: 500px;
    padding-left: 70px;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
}
#main-pa4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    right: 400px;
    padding-top: 20px;
    position: absolute;
}
#main-ph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    left: 450px;
    padding-top: 210px;
    position: absolute;
}
#main-pa5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 270px;
    left: 450px;
    position: absolute;
}

/** END - MAIN */

/** FOOTER */
#footer{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgb(209 94 14);
}
#footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}
#footer-pa2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
}
/** END - FOOTER */
}