@media only screen and (max-width: 815px) {
    body{
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }
    /** HEADER */
#color-Div{
    width: 100%;
    height: 250px;
    background-color: rgb(245 115 17);
}
#color-Div h3{
    text-align: center;
    font-size: 45px;
    padding-top: 70px;
    color: rgb(245 247 252);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div p{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color: rgb(253 234 224);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div2{
    width: 100%;
    height: 180px;
    background-color: rgb(189 86 14);
}
#color-Div2 ul{
    text-align: center;
    word-spacing: 15px;
    padding-top: 3px;
    padding-left: 10px;
}
#color-Div2 ul li{
    display: block;
    padding-top: 12px;
    font-size: 25px;
    word-spacing: -2px;
    color: rgb(245 247 252);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div2 ul li a{
    cursor: pointer;
}
#color-Div2 a:hover{
    color: rgb(253 234 224);
}
#color-Div3{
    width: 100%;
    height: 5px;
    background-color: rgb(254 215 9);
}
/** END - HEADER*/

/** ASIDE */
#aside{
    width: 100%;
    height: 300px;
    background-color: rgb(255 183 133);
}
#aside h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 30px;
}
#aside-pa1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
}
.uLine1{
    height: 3px;
    width: 350px;
    background-color: rgb(193 195 196);
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    left: 40px;
    margin-top: 20px;
}
#aside-pa2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-left: 30px;
    padding-top: 40px;
}
#aside-pa3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 40px;
}
/** END - ASIDE */

/** MAIN */
#main{
    width: 100%;
    height: 450px;
    background-color: white;
    position: absolute;
    left: 0;
    padding-top: 20px;
}
#main h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 20px;
    color: rgb(191 86 16);
}
#main-avm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}
#main-h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 20px;  
}
.uLine2{
    height: 1px;
    width: 350px;
    background-color: black;
    position: absolute;
    left: 20px;
    margin-top: 20px;
}
#main-h4 strong{
    font-weight: bold;
}
#main-pa1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-top: 40px;
}
#main-h4-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 20px;  
}
#main-h4-2 strong{
    font-weight: bold;
}
#main-pa2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-top: 40px;
}
#main-h4-3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 20px;  
}
#main-h4-3 strong{
    font-weight: bold;
}
#main-pa3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-top: 40px;
}
/** END - MAIN */

/** FOOTER */
#footer{
    width: 100%;
    height: 100px;
    margin-top: 800px;
    position: absolute;
    background-color: rgb(209 94 14);
}
#footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}
#footer-pa2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
}
/** END - FOOTER */






}



@media only screen and (min-width: 1440px){
    body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

/** HEADER */
#color-Div{
    width: 100%;
    height: 250px;
    background-color: rgb(245 115 17);
}
#color-Div h3{
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
    color: rgb(245 247 252);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div p{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    color: rgb(253 234 224);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div2{
    width: 100%;
    height: 70px;
    background-color: rgb(189 86 14);
}
#color-Div2 ul{
    text-align: left;
    word-spacing: 15px;
    padding-top: 19px;
    padding-left: 10px;
}
#color-Div2 ul li{
    display: inline-block;
    font-size: 25px;
    word-spacing: -2px;
    color: rgb(245 247 252);
    font-family: Arial, Helvetica, sans-serif;
}
#color-Div2 ul li a{
    cursor: pointer;
}
#color-Div2 a:hover{
    color: rgb(253 234 224);
}
#color-Div3{
    width: 100%;
    height: 10px;
    background-color: rgb(254 215 9);
}
/** END - HEADER*/

/** ASIDE */
#aside{
    width: 25%;
    height: 570px;
    background-color: rgb(255 183 133);
}
#aside h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 30px;
}
#aside-pa1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 40px;
}
.uLine1{
    height: 3px;
    width: 410px;
    background-color: rgb(193 195 196);
    border-radius: 5px 5px 5px 5px;
    position: absolute;
    left: 40px;
    margin-top: 20px;
}
#aside-pa2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 40px;
}
#aside-pa3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 40px;
}
/** END - ASIDE */


/** MAIN */
#main{
    width: 75%;
    height: 570px;
    background-color: white;
    position: absolute;
    left: 480px;
    top: 330px;
}
#main h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 20px;
    color: rgb(191 86 16);
}
#main-avm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
}
#main-h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 20px;  
}
.uLine2{
    height: 1px;
    width: 1400px;
    background-color: black;
    position: absolute;
    left: 20px;
    margin-top: 20px;
}
#main-h4 strong{
    font-weight: bold;
}
#main-pa1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 40px;
}
#main-h4-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 20px;  
}
#main-h4-2 strong{
    font-weight: bold;
}
#main-pa2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 40px;
}
#main-h4-3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 20px;  
}
#main-h4-3 strong{
    font-weight: bold;
}
#main-pa3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 40px;
}
/** END - MAIN */


/** FOOTER */
#footer{
    width: 100%;
    height: 100px;
    position: relative;
    background-color: rgb(209 94 14);
}
#footer p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
}
#footer-pa2{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -20px;
}
/** END - FOOTER */
}